<%= render :partial => 'layouts/menu' %>

<div align='left'>
  <%= calendar @timesheets, :start_day => :monday do |event| %>
    <%= link_to event.name, daily_sheet_path(event.daily_sheet.id) %> <br />
  <% end %>
</div>
